{% extends 'Unidades/index.html' %}
{% load static %}

{% block Titulo %}
<h1 class="masthead-heading text-uppercase mb-0">Acerca de mi</h1>
{% endblock Titulo %}
    


{% block Contenido %}

<h2>CONOCE UN POCO MAS DE MI</h2>
<br>
<h3>Mi nombre es Agustin, Soy Especialista en ciberseguridad y estudiante de python en CoderHouse</h3>
<h4>Mi proyecto se trata de hacer una pagina de registro de reservas de cabañas en villa traful</h4>
<br>
<h5>Tenemos 4 complejos de cabañas diferentes en los cuales deben tener sus formularios con los registros de las reservas 
    de cada uno de los clientes para !</h5>
{% endblock Contenido %}
